<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="Anana Brekashvili" />
	<title>moon</title>
	<style type="text/css">
		html{
			height:100%;
		}
		body{
			background-color: rgb(235,235,235);
		}
		canvas{
			position:absolute;
			left:50%;
			top:50%;
			margin-left: -200px;
			margin-top: -200px;
		}
	</style>
</head>
<body>
	<script type="module">

		import Sequencer from './js/sequencer.min.js';

		Sequencer.make({
			from         	 : "img/moon/2.png",
			to           	 : "img/moon/44.png",
			playMode     	 : "auto",
			loop         	 : "loop", // "pong"
			interval     	 : 17,
		})
	</script>
</body>
</html>